* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

body {
	font-family: 'Raleway', sans-serif;
}

.clear {
	/*отменить обтекание, лечим поток*/
	clear: both;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

img{
	width:100%;
	max-width:100%;
}

a{
	text-decoration: none;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.clouds{
	background: url("../img/let.png") center no-repeat;
	
}


nav, .light_gray {
	background: #f9f9f9;
}
.dark_gray {
	background: #383838;
}
.home{
	
}

.home_text {
	max-width: 626px;
	text-transform: uppercase;
	color: black;
	text-align: center;
	padding: 220px 0;
	
}

.home_text p{
	margin: 0 auto;
	font-size:15px;
	padding-bottom:10px;
	letter-spacing: 1px;
}

.home_text h1{
	font-size:45px;
	padding-bottom:20px;
	letter-spacing: 4px;
	word-spacing: 20px;
	text-align: left;
}

.what{
	text-align: center;
	margin: 0 auto;
}

.black{
	text-transform: none;
	background: black;
	max-width: 560px;
	border-radius:5px;
}

.black p{
	/*letter-spacing: 0.1em;*/
	color: white;
	font-size:16px;
	text-align: center;
	padding: 14px 0;
}
.up{
	text-transform: uppercase;
	font-size: 13px;
}
.blue {
	color:#1da49a;
}
.start{
	margin: 50px 0;
	
}
.start h2:after, .start h2:before {
	content: "";
	display: inline-block;
	width: 100px;
	height: 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	vertical-align: middle;
}

.size1 {
	text-transform: uppercase;
	font-size: 26px;
}

.offer h2, .amazing h2, .skills h2, .works h2,
.facts h2, .team h2 {
	padding: 80px 0 25px 0;
}


.skills p, .facts p, .amazing p {
	color:#9a9a9a;
}

.works p, .facts p{
	padding-bottom: 50px;
}


.offer, .amazing, .skills, .works,
.facts, .team, .ceo {
	text-align: center;
}

.size2{
	font-size: 16px;
}
.size3 {
	text-transform: uppercase;
	font-size:14px;
	font-weight: bold;
	font-weight: bold;
}
.chevron {
	width: 60px;
	height: 60px; 
	border: 5px solid;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	margin: 0 auto;
	
}
.chevron i{
	padding-top:7px;
}

nav {
	border-bottom: 2px solid #eee;
}

.logo{
	background: url("../img/logo.png") no-repeat;
	width: 20%;
	height:43px;
	float:left;
	margin: 30px;
}


.menu {
	list-style: none;
	float: left;
	margin-top:30px;
}

.menu > li {
	display: inline-block;
	text-align: center;
	position: relative;
	text-transform:uppercase;
	font-size: 10px;
	font-weight: bold;
}


.menu li a {
	display: block;
	color: #4c4c4c;
}

.menu li a:hover {
	color: white;
}

.menu_sea{
	float:right;
}

.blue_cont {
	background:#f9f9f9;
	border-radius: 2px;
}

.blue_cont a {
	padding: 15px;
	text-align: center;
	
}
.menu li:hover .blue_cont {
	background: #1da49a;
	color:#f9f9f9;
}

.search {
	float: right;
	margin: 40px 0 0 15px;
}

.flip{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
	-ms-filter: "FlipH"; 
}



.offer{
	padding-bottom:110px;
	position:relative;
}

.offer p{
	color: #797979;
	margin-bottom: 50px;
}

.point{
	width: 33%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.point h4{
	margin: 30px 0 20px 0;
}

.point p{
	font-size:14px;
	margin-bottom:20px;
}
.circle{
	width: 100px;
	height: 100px;
	border-radius:50%;
	background: black;
	position: relative;
	display: inline-block;
	vertical-align: middle;	
	
}

.circle i {
	font-size: 30px;
	text-align: center;
	color: #f9f9f9;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.diamond-shape {
	background: #1da49a;
	height: 60px;
	text-align: center;
	width:60px;
	position: absolute;
    top: 100%; 
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

}
.item-count {
	color: #f9f9f9;
	display: table-cell;
	height: 60px;
	transform: rotate(-45deg);
	vertical-align: middle;
	width:60px;
}
.item-count i{
	font-size: 19px;
}

.blue_but {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	background:#f9f9f9;
}

.blue_but a {
	padding: 10px;
	text-align: center;
	color:  #797979;
	border: 1px solid #797979;
	border-radius: 3px;
}

.point:hover .blue_but a {
	background: #1da49a;
	border-radius: 3px;
	color:#f9f9f9;
	border: none;
}

.point:hover .circle {
	background: #1da49a;

}
.light {
	color: #f9f9f9;
}

.amazing {
	overflow: hidden;
}


.features{
	padding-bottom:107px;
}
.point1{
	margin-left: 70px;
	text-align: left;
	
}
.point1 h4{
	color:#f9f9f9;
	margin: 30px 0 20px 0;
}

.point1 p{
	color:#9a9a9a;
	font-size:14px;
	margin-bottom:40px;
}

.text {
	float: left;
	width: 30%;
	clear:both;
}
.tab{
	width: 70%;
	float:right;
	position: relative;
	
}

.silver1, .silver {
	position: absolute;
}
.silver1{
	top: 85px;
	left: 100px;
}

.silver{
	top: -60px;
    left: 360px;
}

.text_i i{
	float: left;
	font-size:35px;
	color:#1da49a;
	
	
}
.flag{
    width: 33%;
    padding: 30px;
    display: inline-block;
    vertical-align: top;
	position:relative;
}
.news {
	padding: 80px 0 110px 0;
	position:relative;
	
}

.arrow_black{
	text-align: center;
	padding-top: 15px;
	float:left;
	width:40px;
	height:40px;
    position: absolute;
    background: #404040;
	display: inline-block;
	z-index:3;
}

.arrow_black:after {
	content: " ";
	position: absolute;
	right:0;
	bottom: -15px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 20px 0 20px;
    border-color: #404040 transparent transparent transparent;
	z-index:3;
	
}

.flag i{
	
	color:#f9f9f9;
	font-size: 20px;
}

.arrow_blue {
	text-align: center;
	padding-top: 15px;
	float:left;
    width:40px;
	height:60px;
    position: absolute;
    background:  #1da49a;
	display: inline-block;
	z-index:1;
	
}

.arrow_blue:after {
	content: " ";
	position: absolute;
	right:0;
	bottom: -15px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 20px 0 20px;
    border-color: #1da49a transparent transparent transparent;
	z-index:1;
	
}

.flag:hover .arrow_blue{
	background: #404040;
}

.flag:hover .arrow_blue:after {
	border-color: #404040 transparent transparent transparent;
}



.flag:hover .arrow_black{
	background:  #1da49a;
}
.flag:hover .arrow_black:after{
	border-color:  #1da49a transparent transparent transparent;
}


.description {
	margin-left: 50px;
}
.description h4 {
	color: #383838;
	padding-bottom:15px;
}

.description p {
	color:#797979;
	font-size: 14px;
}
.description h5 {
	color:#9a9a9a;
	font-size:12px;
	padding-bottom:25px;
}
 


.powerful{
	display: flex;
	margin-top: 50px;
	align-items: center;
	justify-content: space-around;
	
}

.speed h4{
	padding: 20px 0 70px 0;
	color:#9a9a9a;
	
}
   
.circle_speed{
	width: 120px;
	height: 120px; 
	border: 2px solid #1da49a;
	border-radius: 50%;
	font-size: 40px;
	font-weight: bold;
	color:#f9f9f9;
	position:relative;
	
}

.circle_text {
	font-size: 25px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.works{
	position: relative;
	padding-bottom:110px;
}

.sample{
	margin-bottom:50px;
}
.project{
	display: flex;
	align-items:center;
	flex-wrap:wrap;
}
.pro {
	margin:2px;
	flex: 1 1 15%; 
	/*flex-basis:15%; тоже самое */
	
}
.pro_img{
	display: block;
}


.recent{
	position: relative;
	display:block;
}
.info {
	color:#f9f9f9;
	display: none;

	
}
.recent:hover .info{
	display: block;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;	
	background: rgba(0,169,157,0.8);

}
.info1{
	text-align: center;
	vertical-align: middle;
}

.all_works{
	text-transform:uppercase;
	font-size: 12px;
	font-weight: bold;
	background: #1da49a;
	padding: 15px 0 15px 0;
}

.all_works a{
	color: #f9f9f9;
	display: block;
	text-align: center;
	height: 100%;
}
.company{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom:90px;
}


.quantity_num{
	color: #f9f9f9;
	font-size:60px;
	padding-bottom:25px;
	
}
.quantity h4 {
	color: #9a9a9a;
	padding-top:15px;
}
.quantity i{
	color:#1da49a;
}

.box {
    text-align: center;
    position: relative;
}
.box:after {
    content:"";
    display: block;
    height: 1px;
    background-color: #9a9a9a;;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
.box span {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 20px;
	background: #383838;
}


.quantity_num:after, .quantity_num:before {
	content: "";
	display: inline-block;
	height: 13px;
	width:13px;
	transform: rotate(-45deg);
	background:#9a9a9a;
	margin: 0 20px;
	vertical-align: middle;
}
.quantity:hover .quantity_num:after {
	background: #1da49a;
}

.quantity:hover .quantity_num:before {
	background: #1da49a;
}


.unlimited {
	background: #1da49a;
}
.purchase{
	display: flex;
	align-items: center;
	
}
.gray_but {
	text-align: right;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	flex:1;
	padding: 20px 0;
	
}

.gray_but a {
	padding: 10px;
	text-align: center;
	color:  #797979;
	
}
.now{
	background: #f9f9f9;
	border-radius: 3px;
	padding: 15px;
	display: inline-block;
}


.pur_offer {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #f9f9f9;
	flex:5;
}
.team{
	position: relative;
}
.team p {
	padding-bottom: 55px;
}



/*slider*/
.crsl-items {
  display: block;
  padding: 5px;
  padding-bottom:110px;
  position: relative;
}

.crsl-item {
  background: #fff;
	border-radius:3px;
	border: 1px solid #aaaaaa;
}

.crsl-item .thumbnail {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
.crsl-item .thumbnail img { 
  display: block; 
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.crsl-item h6 {
	display: inline-block;
	margin: 35px 0 12px 0;
	padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.25em;
  font-weight: normal;
  border-bottom: 1px solid #aaaaaa;
}



.crsl-item .postdate {
	display: block;
	position: absolute;
	top: 100%; 
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 6px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	background: #1da49a;
	text-transform: uppercase;
}

.crsl-item p {
	font-size: 12px;
  line-height: 1.55em;
  margin-bottom: 5px;
  display: block;
  padding: 3px 5px;
  text-decoration: none;
  border-radius: 4px;
  color: #aaaaaa;
}
.crsl-item:hover .postdate {
  background: #404040;
  
}

.mail i{
	padding-right: 15px;
}
.phone i {
	transform: rotate(-180deg);
	padding-left: 15px;
}

.sosial {
	color:#f9f9f9;
	display: none;
	
}
.crsl-item:hover .sosial{
	display: block;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;	
	background: rgba(0,169,157,0.8);
}



/** posts slider nav **/
.slidernav {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.slidernav a {
  display: inline-block;
  padding: 1px 11px;
  margin-right: 8px;
  font-size: 28px;
  background: #1da49a;
  color: #f9f9f9;
  text-decoration: none;
  border-radius: 3px;
 
}

.slidernav a:active{
 background: #404040; 
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/*slider*/



.diamond-shape1 {
	background: #404040;
	height: 60px;
	text-align: center;
	width:60px;
	position: absolute;
    top: 100%; 
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

}
.item-count1 {
	color: #f9f9f9;
	display: table-cell;
	height: 60px;
	transform: rotate(-45deg);
	vertical-align: middle;
	width:60px;
}
.item-count1 i{
	font-size: 19px;
}
.blue_box{
	background:#1da49a;
}
.ceo{
	color: white;
	font-size: 20px;
	padding: 80px 0 50px 0;
}
.simpson {
	font-size: 13px;
	color: #9a9a9a;
	background: #f9f9f9;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 35px;
}

.simpson a{
	color: #9a9a9a;
	display: block;
	text-align: center;
	height: 100%;
}
.bold{
	font-weight: bold;
}
