* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
.row {
 
    margin-right: 0;
     margin-left: 0; 
}

.world {
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	padding-top: 20px;
}

.world a{
	color: white;
}

.world a:link,
.world a:visited,
.world a:active,
.world a:hover,
footer a:link,
footer a:visited,
footer a:active,
footer a:hover {
    text-decoration: none; 
   } 


.blue{
	color: #089aa4;
}

.sosial i {
	font-size: 23px;
	padding: 20px 30px 20px 0;
	color: #bebebe;
}


.sosial a:hover   {
    text-decoration: none; 
	color: white;
   }

.logo.row {
	margin: 0px;
}

.carousel-inner img {

  width: 100%;
}

.carousel-caption{
	bottom:50%;
	transform:translateY(50%);
}

.arrowNew{
	position:relative;
}

.arrowNew i {
	position:absolute;
	right:17px;
	top:7px;
	font-size: 16px;
	color: #cdcdcd;
}

.desk i {
	font-size: 112px;
}

.navbar li {
	text-transform: uppercase;
}

.navbar .active {
	border-bottom: 3px solid #93dde2;
}

.active_menu {
	color: #93dde2 !important;
}

nav {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}

.dropdown-menu{
	font-size: 0.5rem;
}

bottom:focus{
	    border: 1px solid rgba(0,0,0,.1);
}
 form input{
	font-family: 'Open Sans', sans-serif !important;
	font-size: 10px !important;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 8px;
	height: 8px;
	background: #00bac6;
	border-radius: 50%;
	border: 4px solid white;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    transition: opacity .6s ease;
}

.carousel-control-next-icon {
	background: url("../img/arrow-r.png") no-repeat 50%/100% 100%;
}
.carousel-control-prev-icon {
    background: url("../img/arrow-l.png") no-repeat 50%/100% 100%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 27px;
    height: 52px;
   }


.carousel-caption h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.main-text h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	margin: 55px 0 40px 0;
}

.bold {
	font-weight: bold;
}

.main-text p {
	margin-bottom: 55px;
	font-family: 'PT Sans', sans-serif;
	font-size: 1rem;
}
.icon  {
	margin-bottom: 40px;
	position:relative;
}


.triangle {
	width: 0;
	height: 0;
	border-right: 40px solid transparent;
	border-bottom: 40px solid #f8f9fa;
	border-left: 40px solid transparent;
	position: absolute;
	transform: translateX(-50%);
	left:50%;
	opacity:0; /*Элемент полностью прозрачный (невидимый)*/
	transition: 1s; /*Скорость перехода состояния элемента*/

}

.icon:hover .triangle {
	opacity:1;
	transition: 1s;
}

.desk i{
	margin-bottom: 20px;
	color: #cacaca;
}


.icon:hover i {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #00bac6;
}

.desk h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	color: #7b7b7b;
}
.desk p {
	font-family: 'PT Sans', sans-serif;
	font-size: 0.9rem;
	margin-bottom:130px;
}


.frame h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 0.8rem;

}

.frame p{
	font-family: 'PT Sans', sans-serif;
	font-size: 0.65rem;
}

.frame{
	padding: 25px 50px 25px 20px;
}

.image {
	overflow:hidden;
 }
 
.image img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
.image img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }
 

.gallery {
	max-width: 980px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}
.down{
	margin-bottom: 40px;
}
.customer {
	padding: 60px 0 60px 0;
}
.text{
	font-size: 10px;
	padding-bottom: 50px;
}

.text h5{
	padding: 40px 0 25px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: white;
}

.border-bottom{
	margin-bottom: 25px;
}

.text i {
	color: #318f95;
	font-size: 15px;
	vertical-align:middle;
}

.fa-clock{
	margin-right: 5px;
}
.text .fas{
	margin-right: 10px;
}


.lg {
	font-size: 12px;
	color: white;
}


.lg a {
	text-decoration: none;
	color: white;
}
.date{
	color:#515151;
	vertical-align: middle;
}
.border-bottom {
    border-bottom: 1px solid #515151!important;
	padding-bottom: 25px;
}

.contacts i{
	vertical-align:middle;
}

.ph {
	vertical-align:middle;
}
.ema{
	margin-bottom:20px;
}

footer .row{
	font-size: 12px;
	padding: 40px 0 40px 0;
}

footer a{
	color: #bebebe;
}

footer a:hover   {
    color: white; 
   } 

.text-bot {
	margin-bottom: 10px;
}

.sosial1 i{
	padding-right: 20px;
	font-size: 25px;
	text-align: right
}


@media (max-width: 760px){
	.sosial1 i{
	padding-right: 10px;
	font-size: 15px;
	}
	.frame .border {
		border: none!important;
	}
	
}

@media (min-width: 760px){
	.transition-translate {
	position: relative;
	top: 0;
	z-index: 2;
	cursor: pointer;
	transition: 3s linear;
	}
	.transition-translate:hover {
	top: 100px;
	}
	
}
@media (min-width: 650px) and (max-width: 760px){
	
	.desk p {

	margin-bottom:50px;
	}
	.desk i{
	margin-bottom: 15px;
	font-size:70px;
	}
	
	
}
@media (max-width: 650px) {
	.main-text h3 {
	font-size: 1rem;
	margin: 20px 0;
	
	}
	
	.main-text p {
    font-size: 0.8rem;
	margin-bottom: 20px;
	}

	.portfolio .border {
		border: none!important;
	}
	
	.carousel-control-next-icon, 
	.carousel-control-prev-icon {
    width: 17px;
    height: 38px;
	}
	.frame .border {
		border: none;
	}
	
	.text h5 {
    padding: 25px 0 0 0;
	}
	
	.desk i{
	margin-bottom: 10px;
	font-size:50px;
	}
	.desk h4 {
	font-size: 1rem;
	}
	.desk p {
	font-size: 0.6rem;
	margin-bottom:30px;
	}
	
	.triangle {
		display: none;
	}
	
	.text {
    padding-bottom:0;
	}
	
	footer .row {
    padding: 0;
	}
	.customer {
	padding: 0;
	}
}

